* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(36, 36, 36);
}
.goods-list,
.basket-list {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 5px solid rgb(68, 38, 85);
}
.goods-list_item {
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 5px solid rgb(85, 38, 38);
}